body{
    margin: 0;
}
html{
    background-color: #62306D;
}
header{
    font-family: sans-serif;
    background-color: #62306D;
}
footer{
    font-family: sans-serif;
    background-color: #62306D;
}
main{
    background-image: url(img/donuts.png);
    height: 400px;
}

h1{
    text-align: center;
    color: #F7EC7D;
}
p{
    text-align: center;
    color: #F7EC7D;
}

/* Logo */
.menu{
    width: 400px;
    height: 300px;
}
.circulo {
width: 200px;
height: 200px;
background: #F7EC7D;
position:absolute;
left:100px;
top:50px;
border-radius:100%;
}
.circulo_interior{
width: 120px;
height: 120px;
background: #62306D;
position:absolute;
left:140px;
top:90px;
border-radius:100%;
}
.segmento_circulo{
width: 100px;
height: 100px;
background: #E38F66;
position:absolute;
left:100px;
top:50px;
border-radius:100% 0 0 0;
}